# Logs
*.log
*.tmp
*.swp

# Environment files
.env
.env.*

# Build artifacts
node_modules/
dist/
build/
venv/
__pycache__/

# Dependency locks
poetry.lock
*/poetry.lock

# Editors
.idea/
.vscode/

# Docker overrides
docker-compose.override.yml
